#rectangle
{
    height:265px;    
    background:rgb(25,25,25);
}

div 
{     
    color: white;
    font-family: sans-serif;
}


p
{
    display:inline;
}

em
{
    letter-spacing: 5px;
    font-style:normal;
    font-size: 13px;
}

p.Section3
{
    letter-spacing: 5px;
    font-size: 0.8em;
    text-align: center;
    color: #af9a4a;
    display: inline;    
}

div.ClickArea
{
    height: 11em;
    margin-top: -9em;
}

p.Section41
{
    letter-spacing: normal;
    font-style: normal;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: Black;
    margin-left: auto;
    position: relative;
    display: block;  
}

p.Section42
{
    letter-spacing: normal;
    font-style: normal;
    font-family: sans-serif;
    font-size: larger;
    text-align: center;
    color: Black;
    margin-left: auto;
    position: relative;
    display: block;
}

.button1 
{
    letter-spacing: 4px;
    background-color: white;
    border: 3px solid black;
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 9px;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 15px 57px;
    outline: none;
}

.button1:hover 
{
    background-color: black;
    color: white;
}

.imagewrapper 
{
    height: 7em;	
    width: 100%;
}

.imagewrapper img 
{
    display: block;
    width:75em;
    height: 20em;
    margin-top: 1em;
}

div.textnew
{
   margin-top:-2em;    
}

div.Section1
{
    background-color: white;
    margin: 0 auto;
}

div.SectionFinal
{
    background-color: white;
    margin-top: -10.5em;
}

#left
{
    letter-spacing: 3px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    background: rgb(26,26,27);
    border-top:none;
    border-right: 1px solid #363636;
}

#right
{
    letter-spacing: 3px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 12px;
    vertical-align: middle;
    background: rgb(26,26,27);
    color: #af9a4a;	
    position: inherit;
}

#newspan
{
    padding-left: 5.4em;
    position: absolute;
}

.button2 
{
    letter-spacing: 4px;
    background-color: rgb(26,26,27);
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 9px;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 20px 70px;
    white-space: nowrap;
    padding-bottom: 2em;
    outline: none;
}

.button2:hover 
{
    background-color: white;
    color: rgb(26,26,27);
}


#td1
{
    background-color:rgb(26,26,27);
}

#footer1
{
    padding-left: 1em;
    letter-spacing: 4px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 15px;
    background: rgb(26,26,27);
    position: relative;
    color: #af9a4a;
}

#footercity
{
    padding-left: 1em;
    letter-spacing: 3px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 15px;
    background: rgb(26,26,27);
    position: relative;
    display: block;
    color: white;
}

#footercityadress
{
    padding-left: 1em;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
    background: rgb(26,26,27);
    position: relative;
    display: list-item;
    color: white;	
}

.button3 
{
    letter-spacing: 5px;
    background-color: rgb(26,26,27);
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 9px;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 9px 30px;
    white-space: nowrap;
    outline: none;
}

.button3:hover 
{
    background-color: white;
    color: rgb(26,26,27);
}

a span.newspanhover:hover 
{
    text-decoration: underline;
}

