#searchButton {
	border-radius: 0px;
	width: 5em;
	height: 2.85em;
}
#inputSearchText {
	border-radius: 0px;
}
#headBrand {
	color: #3b5998;
	text-align: left;
	vertical-align: middle;
}
.btn-clear {
	border-radius: 0px;
	color: #3b5998;
	border-color: #3b5998;
	background-color: white;
	height: 2.45em;
}
.nav-tabs {
	background-color: white !important;
	border-bottom-color: #3b5998 !important;
	border-bottom-width: inherit !important;
	border-collapse: collapse !important;
    
}
.nav-tabs.nav-justified {
	border-bottom: inherit;
	border-collapse: collapse !important;
}
.nav-tabs>li.active>a {
	background-color: #3b5998 !important;
	color: white !important;
}
.nav-tabs>li>a {
	color: black !important;
}
.nav-tabs>li>a:hover {
	border-color: white !important;
	background-color: inherit !important;
}
.nav-tabs>li.active>a:hover {
	background-color: #3b5998 !important;
}
#hLine {
	margin-bottom: 0px !important;
	margin-top: -1.6em !important;
	border: 0px !important;
	border-top: 0px !important;
	color: red !important;
}
.bis.glyphicon-star {
	color: gold;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
.animate-hide {
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	opacity: 50;
	width: 100%;
	height: 100%;
	background: white;
	position: absolute;
	left: 0;
	z-index: 1;
}
.animate-hide.ng-hide {
	left: -100%;
	opacity: 50;
}
.table {
	background-color: white;
}
.progress {
	display: block;
}
#mainTableDiv {
	height: 40em;
	display: block;
	background-color: white;
    width: 100% !important;
    max-width: 100% !important;
}
#maintablepbar {
	padding-left: 0;
	margin-top: 15em;
}
.left {
   float: left;
   display:inline-block;
   overflow: auto;
}

@media (max-width: 768px) {
  .nav-tabs > li > a {
    line-height: 0.01em !important;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0px !important;
    border-bottom:0 !important;
  }

}






